/* MEDIA QUERIES */
@media(min-width:767px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
}

@media(min-width:768px) {
    header .intro-text .name {
        font-size: 2.2em;
    }
    header .intro-text .skills {
        font-size: 1.2em;
    }
}

