img {
	max-width: 100%;
	height: auto;
}

.img-clip-row {
	text-align: center;
}

.img-clip-wrap-profile {
	width: 200px; 
	height: 200px; 
	background-image: url("../img/profile-astrogris.jpg"); 
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	/*-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);*/
	border-radius: 50%;

}

.img-clip-wrap-cv {
	width: 200px; 
	height: 200px; 
	background-color: #F2AF15; 
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	/*-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);*/
	border-radius: 50%;

}

.overlay {
	background-color: rgba(138, 143, 135, 0);;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
	-webkit-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	border-radius: 50%;
}

.overlay-content {
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Alegreya Sans', serif;
	font-size: 2rem;
	word-wrap: none;
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
	border-radius: 50%;
}

.img-clip-wrap-profile:hover .overlay,
.img-clip-wrap-cv:hover .overlay{
	-webkit-transition: background-color 0.4s ease-in;
	transition: background-color 0.4s ease-in;
	background-color: rgba(138, 143, 135, 1);
	border-radius: 50%;
}

.img-clip-wrap-profile:hover .overlay-content,
.img-clip-wrap-cv:hover .overlay-content{
	color: rgba(255, 255, 255, 1);
	border-radius: 50%;
}

.hexagon-center{
	margin-top: 5%;
}
